@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Lato';
}

.arrow-btn>* {
    stroke: white;
    fill: black;
    height: 2rem;
    width: 2rem;
}

.arrow-btn:hover>* {
    animation: squish 200ms ease-in-out;
}

.circle-btn>* {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.gallery-arrow-btn>* {
    height: 3rem;
    width: 3rem;
}

.gallery-gray-btn>* {
    stroke: #edebeb;
    height: 3rem;
    width: 3rem;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}



.cart-open {
    margin-right: 16px; /* Adjust this value based on your scrollbar width */
  }
  
  /* This style ensures the main content has its own scrollbar */
  .main-content-container {
    width: calc(100% - 16px); /* Adjust this value based on your scrollbar width */
    overflow-y: auto;
  }
  
button:disabled {
    opacity: 0.7;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}