@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
    @apply font-montserrat;
}

.montserrat-light {
    @apply font-montserrat font-light;
}

.montserrat-bold {
    @apply font-montserrat font-bold;
}

* {
    box-sizing: border-box;
}

.arrow-btn>* {
    stroke: white;
    fill: black;
    height: 2rem;
    width: 2rem;
}

.arrow-btn:hover>* {
    animation: squish 200ms ease-in-out;
}

.circle-btn>* {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.gallery-arrow-btn>* {
    height: 3rem;
    width: 3rem;
}

.gallery-gray-btn>* {
    stroke: #edebeb;
    height: 3rem;
    width: 3rem;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}


button:disabled {
    opacity: 0.7;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

.ant-select-selector, .ant-input {
    height: 50px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
}

.custom-radio {
    @apply relative w-5 h-5 border-2 border-gray-400 rounded-full cursor-pointer appearance-none;
  }
  
  .custom-radio:checked {
    @apply border-red-800;
  }
  
  .custom-radio:checked::before {
    content: '';
    @apply absolute top-1/2 left-1/2 w-3 h-3 bg-red-800 rounded-full transform -translate-x-1/2 -translate-y-1/2;
  }
  
  .custom-radio:focus {
    @apply outline-none ring-red-800;
  }

  .custom-select .ant-select-selector {
    background-color: rgb(232, 240, 254)  !important;
}


@keyframes slideDown {
    from {
        transform: scaleY(0);
        transform-origin: top;
    }
    to {
        transform: scaleY(1);
        transform-origin: top;
    }
}

@keyframes slideUp {
    from {
        transform: scaleY(1);
        transform-origin: top;
    }
    to {
        transform: scaleY(0);
        transform-origin: top;
    }
}

.slide-down {
    animation: slideDown 0.5s forwards;
}

.slide-up {
    animation: slideUp 0.5s forwards;
}

.sliding-content {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.sliding-content-hidden {
    max-height: 0;
    visibility: hidden;
}

.sliding-content-visible {
    max-height: 1000px; /* Set a value high enough to fit the expanded content */
    visibility: visible;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    background-color: transparent !important;
    background-image: none !important;
    color: inherit !important;
}

.custom-checkbox {
    appearance: none;
    width: 1.15rem; /* Adjust size */
    height: 1.15rem; /* Adjust size */
    background-color: white;
    border: 2px solid #b91c1c; /* Tailwind red-700 */
    cursor: pointer;
    border-radius: 0.25rem; /* Optional: for rounded corners */
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: #b91c1c; /* Tailwind red-700 */
    border-color: #b91c1c; /* Tailwind red-700 */
  }
  
  .custom-checkbox:checked::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='white' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
  }
  
  .ant-input-affix-wrapper.css-dev-only-do-not-override-17seli4 {
    padding: 0 11px !important; /* Remove padding */
}

.slide-in-left {
    animation: slideLeft 0.35s ease-in-out forwards;
}

.slide-in-right {
    animation: slideRight 0.35s ease-in-out forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.custom-slider {
    transition: transform 0.3s ease-in-out;
}

