@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.arrow-btn > * {
    stroke: white;
    fill: black;
    height: 2rem;
    width: 2rem;
}

.arrow-btn:hover > * {
    animation: squish 200ms ease-in-out;
}

.circle-btn > * {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.gallery-arrow-btn > * {
    height: 3rem;
    width: 3rem;
}

.gallery-gray-btn > * {
    stroke: #edebeb;
    height: 3rem;
    width: 3rem;
}


@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}